/* 
    Css Starts from here.
*/

.bold {
    font-weight: 500;
}

.semi-bold {
    font-weight: 600;
}

.color-blue {
    color: var(--color-blue);
}

.dash-title {
    position: relative;
}

.dash-title::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 40px;
    background-color: var(--grey-200);
    top: -10px;
}

.logo {
    max-width: 50px;
}

.section {
    padding: 3rem 0;
}

.section.grey {
    background-color: var(--backgroundColor-2);
}

.image-container {
    width: 150px;
    height: 150px;
    transform-style: flat;
}

.image-container > div {
    position: absolute;
    width: 150px;
    height: 150px;
    background: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    will-change: transform;
    cursor: pointer;
}

#tsparticles {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#tsparticles canvas {
    z-index: 2;
    position: absolute !important;
}

.cat {
    max-width: 100px;
}

.skill-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.modal {
    top: 5rem;
    left: 5rem;
    right: 5rem;
    bottom: 5rem;
    border-radius: 0;
    z-index: 99999;
    width: unset;
    height: unset;
}

.modal-content,
.modal-body {
    height: 100%;
    border-radius: 0;
    padding: 0;
}
